body{
      margin: 20px;
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Avatar{
        width: 150px;

}

.Card{
      margin:0 auto;
      width: 400px;
      padding: 20px;
      display: flex;
      justify-content: space-around;
      background-color: aqua;
      color:black;
      border-bottom: 6px solid #d8cefe;

}
.border-blue{
      border: 1px dotted blue;

}